body{
    background:url('/img/login.jpg') ;
    background-position: 50% 50%; ;
    font-family:'Righteous','sans-serif';
    background-color: black;
    }
    .content-container{
        height: 75vh;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .container{
        background-color: white;
        
        /* position: absolute;
        top: 20%;
        left: 30%; */
        border: 1.6px solid black;
        outline: 1.2px solid white;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0,0,0,1);
        height: 45%;
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    @media(max-width:550px){
    .container{
        width: 85%;
    }
    }
    form{
        height:65%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
     .form-control{
        border: 1px solid grey;
    }
    
    .input-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    .form-control{
        text-align: center;
    }