
body{
    background-color: black;

    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(90deg, hsla(201, 94%, 14%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(201, 94%, 14%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(201, 94%, 14%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022D45", endColorstr="#000000", GradientType=1);    
    font-family: 'Righteous',sans-serif;
    color: white;
}

/* Edge-specific adjustments */
@supports (-ms-ime-align: auto) {
    /* CSS rules specific to Edge */
    body {
        /* Example Edge-specific styles */
      background-color: black;
    }
}
h2{
    margin-top: 10px;
    text-align: center;
}
.exercise-img-container{
    height: 700px;
    width: 1200px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.img-container{
    height: 20%;
    width: 20%;
    text-align: center;
}
.img-container a{
    text-decoration: none;
    color: white;
}

.workout-img{
    max-width: 95%; /* Set the maximum width to 100% of its container */
  max-height: 95%; /* Set the maximum height to 100% of its container */
  width: auto; /* Ensure the width adjusts automatically to maintain aspect ratio */
  height: auto; /* Ensure the height adjusts automatically to maintain aspect ratio */
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 5px;
}
.workout-img:hover{
    border: 5px solid white;
}

.img-container:hover{
    text-shadow: 8px 8px 12px rgba(0,0,0,5);
}

.header{
    text-align: center;
    color: white;
}
.content-container{
    min-width: fit-content;
    min-height: 100vh;
    width: 100%;
    /* background-color: black; */
    /* background-image: url('/img/home1.png');
    background-size: cover; */
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(90deg, hsla(201, 94%, 14%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(201, 94%, 14%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(201, 94%, 14%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022D45", endColorstr="#000000", GradientType=1);
    

}
.carousel-inner {
      width: 100%;
      height: auto;
    }

    .carousel-item {
  
      width: 100%;
    }

    .carousel-item img {
      width: 100%;
      height: auto;
      max-height: 680px; /* Adjust the max-height as needed */
      object-fit: cover;
    }



    @media (max-width: 767px) {
      .carousel-caption {
        font-size: 14px;
        bottom: 20px;
      }
    }

    @media (min-width: 768px) {
      .carousel-caption {
        font-size: 18px;
      }
    }

    .carousel {
      width: 100%;
      height: auto;
    }
    .carousel-caption {
    display: block !important;
  }

.carousel-container{
display: flex;
justify-content: center;
align-items: center;
/* background-image: url('/img/home2.png'); */
background-size: cover;
/* background-color: green; */
}
.carousel-container h5{
    color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.carousel-container p{
    color: white;
    -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
}

.header-container{
    /* height: 450px; */
    /* border: 1px solid green; */
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin-top: 50px; */
    /* margin-bottom: 50px; */
}
.logo  {
    /* border: 1px solid yellow; */
    max-width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
}
#logo{
    width: 450px;
    height: 450px;
    /* border: 1px solid magenta; */
}

.description{
    /* border: 4px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.banner-container{
    position: absolute; 
    bottom: 0;
    margin-bottom: 75px;
    /* left: 0;
    right: 50; */
    /* border: 1px solid aqua; */
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner{
    /* margin: 50px; */
    width: fit-content;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}
.banner:hover{
    transition: background-color .5s ease;
    background-color: #022e45;
    color: white;
}

.description a{
    text-decoration: none;
    color: black;
}
.description h5{
    line-height: 1.75;
    text-decoration: none;

}
.other-content{
    /* height: 450px; */
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('/img/homebanner.jpg');
    background-size: cover;
    background-position: center; */
}

.features{
    /* border: 1px solid white; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 2;
}
.register  {
    /* border: 1px solid orange; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 2;
  /* background-image: url('/img/homebanner.jpg');
    background-size: cover;
    background-position: center; */
}
.features a{
    text-decoration: none;
}
.register a{
    text-decoration: none;
}
.features-link{
    background-color: #45e220;
    border: 3px solid #022e45;
    border-radius: 10px;
    padding: 5px;
    color: #022e45;
}

.features-link:hover{
    transition: background-color .4s ease;
    background-color: #ffffff;
    color: black;
}

.login-link{
    background-color: #FFC0CB;
    border: 3px solid #022e45;
    border-radius: 10px;
    padding: 5px;
    color: #022e45;
}

.login-link:hover{
    transition: background-color .4s ease;
    background-color: #ffffff;
    color: black;
}